# Environment variables
DATABASE_URL=
AUTH_SECRET=
NEXT_PUBLIC_APP_URL=

PAYMENT_SECRET_KEY=
PAYMENT_WEBHOOK_SECRET=

STORAGE_ENDPOINT=
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
STORAGE_BUCKET=

EMAIL_API_KEY=
